<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5a5b4e639f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/about.css">
    <!-- <style>
/* BASIC */
    </style> -->
<!------ Include the above in your HEAD tag ---------->
    <title>About Us</title>
</head>
<body>
<header>
  <%- include('./header.ejs') %>.
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
        <div class="card">
          <img class="card-img-top" style="height: 300px;" src="/images/TheBestAndCutestDogOfThemAll.png" alt="Random Image">
          <div class="card-block">
            <h5 class="text-bold">Being the Best for the Best</h5>
            <p class="card-text">At Pet Pals we look to offer a service like no other to you and your pets. We know
              What it takes to raise a pet like family. This is why we only offer products our pets
              would reccomend to you! We have been in business for over 40 years and our loyal customers
              are a testimate to our word. We look forward to meeting and having personal interactions
              will pets of all kinds. Come give us a visit and see the difference in service!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
        <div class="card">
          <img class="card-img-top" style="height: 300px;" src="/images/ACuteDogButNotQuiteAsCuteAsOllie.png" alt="Random Image">
          <div class="card-block">
            <h5 class="text-bold">Giving your pet a warm feeling every trip!</h5>
            <p class="card-text">If there is one thing we can promise, your pet will love every trip to pet pals.
              This is why we offter the best reward to our customers. Bring your pet with you to 
              receive additional benefit! Take a picture and post about us. Here we welcome all pets
              as family. If you are looking for the best prices and friendliest staff you wont have
              to look any further. Shop online for convenience, we promise to make your experience
              memorable.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
        <div class="card">
          <img class="card-img-top" style="height: 300px;" src="./images/TheGoodestDog.png" alt="Random Image">
          <div class="card-block">
            <h5 class="text-bold">Tail-Wagging Deals and Purr-fect Products!</h5>
            <p class="card-text">At Pet Pals, we believe in bringing smiles to both you and your furry friends. Whether it's 
              premium pet food, cozy beds, or fun toys, we've got everything to keep tails wagging and 
              whiskers twitching with joy. Visit us for exclusive offers and discover why we're a trusted 
              name in the pet community. Let us help you create unforgettable moments with your beloved 
              companions!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('./footer.ejs') %>.
</footer>

</body>
</html>