<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5a5b4e639f.js" crossorigin="anonymous"></script>
    <!-- <style>
/* BASIC */
    </style> -->
    <link rel="stylesheet" href="/stylesheets/adoption.css">
<!------ Include the above in your HEAD tag ---------->
    <title>Adoptions</title>
</head>
<body>
<header>
  <%- include('./header.ejs') %>.
</header>

<main>
  <div class="how-section1">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="/images/bfhs.jpg" class="rounded-circle img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>Benton Franklin Humane Society</h4>
            <h4 class="subheading">1736 E 7th Ave <br>
                Kennewick, WA 99337 <br>
                (509)374-4235
            </h4>
            <p class="text-muted">Benton-Franklin Humane Society, established in 1966, is a private, adoption center located in Kennewick, WA. BFHS is a “no-kill” 501(c)3 non-profit and receives no government funding.
                The Benton Franklin Humane Society is comprised of citizens from around the Tri-Cities. These are people who care about
                animal welfare, are dedicated to making a positive difference in the lives of the animals in the shelter's care and beyond,
                and are accountable to the donors, supporters, and volunteers who make the work of the shelter possible.
                <a href="https://www.bfhs.com/" target="_blank">Click here to visit their webpage.</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Pet OverPopulation Prevention</h4>
            <h4 class="subheading">1506 Rd 40 <br>
                Pasco, WA 99301 <br>
                (509)380-5326
            </h4>
            <p class="text-muted">The purpose of POPP shall be to promote responsible pet ownership by educating the public regarding spaying and neutering their pets, spay/neuter assistance, and providing various methods of caring for and finding homes for feral, abandoned and/or homeless pets.
                POPP’s rescue animals are in need of a second chance. They have been surrendered, abandoned, or are simply a result of pet overpopulation.
                <a href="https://www.popptricities.org/" target="_blank">Click here to visit their webpage.</a>
            </p>
        </div>
        <div class="col-md-6 how-img">
            <img src="/images/popp.jpg" class="rounded-circle img-fluid" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
             <img src="/images/tricitykittyrescue.jpg" class="rounded-circle img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>Tri City Kitty Rescue</h4>
            <h4 class="subheading">address and phone number here</h4>
            </h4>
            <p class="text-muted">Tri City Kitty Rescue is a 501c3 nonprofit organization. We specialize in rescuing orphaned and medically needy kittens from birth to eight weeks. After reaching a goal weight and age we adopt these kittens to deserving homes. We provide age-appropriate vaccines, spay or neuter, and microchips at time of adoption.
                <a href="https://www.tricitykitty.org/" target="_blank">Click here to visit their webpage.</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Little Lives Matter</h4>
            <h4 class="subheading">(509)850-0023</h4>
            <p class="text-muted">Little Lives is a non-profit 501c3 small animal rescue located in Tri Cities, Washington.   
                We are dedicated to finding permanent loving homes for birds, reptiles, rodents and the like that have been rescued from abuse, neglect or abandonment.
                We also focus on educating our community about proper small animal care and the importance of overpopulation prevention.
                <a href="https://www.littlelivesrescue.org/" target="_blank">Click here to visit their webpage.</a>
            </p>
        </div>
        <div class="col-md-6 how-img">
            <img src="/images/littlelivesmatter.jpg" class="rounded-circle img-fluid" alt=""/>
        </div>
    </div>
</div>
</main>

<footer>
  <%- include('./footer.ejs') %>.
</footer>

</body>
</html>