<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5a5b4e639f.js" crossorigin="anonymous"></script>
    <style>
/* BASIC */
    </style>
<!------ Include the above in your HEAD tag ---------->
    <title>Login</title>
</head>
<body>
<header>
  <%- include('./header.ejs') %>.
</header>

<main>
  <p>Adoptions</p>
</main>

<footer>
  <%- include('./footer.ejs') %>.
</footer>

</body>
</html>